html{
    height: 100%;    
}
body{
    margin:0;
    height: 100%;
    display: block;
    overflow: hidden;
    font-family:
        "calibri";
}
.icon{
    cursor: pointer;
}
/* Header
-----------------------------------------------*/
header{

}

/* Content
-----------------------------------------------*/

.content{
    height: 100%;
}

.tasklist {
    width: 350px;
    height: 100%;
    float: left;
    border-right: 2px solid #5154ac;
    padding-left: 50px;
    margin-top: 0;
    margin-left: 0;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.tasks {
    padding-top: 42px;
    padding-bottom: 35px;
    height: 100%;
    box-sizing:border-box;
}

    .tasks .scroller{
        height: 100%;
        width: 100%;
        overflow-y: hidden;
        position: relative;
    }

.task{
    padding-top: 7px;
    padding-bottom: 7px;
    margin: 0;
    position: relative;
}

.task .taskHeader{
    padding-left: 6px;
    padding-right: 6px;
}

.taskHeader >*{
    display: inline-block;
    padding: 3px;
}

.task .actions{
    right: 5px;  
    top: 0;
    position: absolute;
}
    .task .actions .icon {
        font-size: 1.4em;
        color: lightgray;
    }
    .task .actions .icon:hover {
        color: gray;
    }

.task p{
    margin: 0px;   
}

.task:hover{
    background: #f0f1f4;    
}

.task.done-true p{
    text-decoration:line-through;    
}

.task.edit-true{
    background: #f0f1f4;
    border-top: solid 2px gray;
    border-bottom: solid 2px gray;
}

.task .taskDetails{
    background: #f0f1f4;
    border-top: dashed 1px gray;
    border-bottom: dashed 1px gray;
    margin-top: 6px;
    margin-bottom: 6px;
    padding: 5px;
    padding-left: 6px;
    padding-right: 6px;
}

    .task .taskDetails input, .task .taskDetails textarea{
        padding: 4px;
        width: 100%;   
        margin: 0;
        margin-bottom: 3px;
        box-sizing:border-box;
    }

    .task .taskDetails .quickdate {
        width: 100%;
        margin: 0;
        margin-bottom: 3px;
        box-sizing:border-box;
    }


    .task .editButtons {
        padding: 5px;
        overflow: hidden
    }

    .task .editButtons button{
        padding: 4px;
    }

    .task .editButtons .save{
        float: right;
    }

    .task .editButtons .cancel{
        float: left;
    }

.creator {
    position: absolute;
    top:0;
    background: #5154ac;
    padding: 5px;
    padding-right: 8px;
    overflow: hidden;
    height: 32px;
    width: 100%;
    
}

    .creator input{
        width: 290px;
        padding: 3px;
        float: left;
    }

    .creator .add-icon{
        font-size: 2.0em;
        color: #489d29;
        margin-left: 6px;
        float: left;
    }

    .creator .add-icon:hover{
        font-size: 2.0em;
        color: #489d29;
        font-weight: bold;
    }

.sidebar {
    position: fixed;
    left: 0;
    top:0;
    width: 50px;
    background: #5154ac;
    height: 100%;
    padding-top: 36px;
    text-align: center;
    z-index: 2;
}

    .sidebar .icon{
        font-size: 40px;
        padding: 5px;
        color: #a1abd4;
        line-height: 1.5em;
    }

    .sidebar .icon:hover{
        color: #dce3ff;
    }
    
    .sidebar .icon.active{
        color: white;
        background: #8c84c9;
    
    }

.sorter{
    color: white;
    position: absolute;
    bottom: 0;
    background: #5154ac;
    padding: 5px;
    width: 100%;
}

.calendarContainer {
    float: left;
}



