<div class="calendarWrapper">
        <div class="calendar">
            <div class="days">
                <table class="daysTable">
                    <thead>
                        <tr>
                            <td class="hour"></td>
                            <td ng-repeat="day in days">{{day}}</td>
                        </th>
                    </thead>
                </table>
            </div>
            <perfect-scrollbar class="scroller" wheel-propagation="true" wheel-speed="10">
                <table>
                    <tbody>
                        <tr ng-repeat="hour in hours">
                            <td class="hour">{{hour}}</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="saturday"></td>
                            <td class="sunday"></td>
                        </tr>
                    </tbody>
                </table>
            </perfect-scrollbar>
            <div class="footerNavigation">
                <a class="prev" ng-click="goToPreviousWeek()"><i class="icon ion-arrow-left-b"></i> </a>
                <a class="next" ng-click="goToNextWeek()"> <i class="icon ion-arrow-right-b"></i> </a>
            </div>
        </div>
</div>