<div class="calendarWrapper">
        <div class="calendar">
            <div class="days">
                <table class="daysTable">
                    <thead>
                        <tr>
                            <td class="hour"></td>
                            <td ng-repeat="day in days">{{day}}</td>
                        </th>
                    </thead>
                </table>
            </div>
            <perfect-scrollbar class="scroller" wheel-propagation="true" wheel-speed="10">
                <table>
                    <tbody>
                        <tr ng-repeat="hour in hours">
                            <td class="hour">{{hour.hour}}:00</td>
                            <td title="{{hour.tooltip('monday')}}" class="withTasks-{{hour.tasks.monday.length > 0}}">{{hour.tasks.monday.length || ""}}</td>
                            <td title="{{hour.tooltip('tuesday')}}" class="withTasks-{{hour.tasks.tuesday.length > 0}}">{{hour.tasks.tuesday.length || ""}}</td>
                            <td title="{{hour.tooltip('wednsday')}}" class="withTasks-{{hour.tasks.wednsday.length > 0}}">{{hour.tasks.wednsday.length || ""}}</td>
                            <td title="{{hour.tooltip('thursday')}}" class="withTasks-{{hour.tasks.thursday.length > 0}}">{{hour.tasks.thursday.length || ""}}</td>
                            <td title="{{hour.tooltip('friday')}}" class="withTasks-{{hour.tasks.friday.length > 0}}">{{hour.tasks.friday.length || ""}}</td>
                            <td title="{{hour.tooltip('saturday')}}" class="saturday withTasks-{{hour.tasks.saturday.length > 0}}">{{hour.tasks.saturday.length || ""}}</td>
                            <td title="{{hour.tooltip('sunday')}}" class="sunday withTasks-{{hour.tasks.sunday.length > 0}}">{{hour.tasks.sunday.length || ""}} </td>
                        </tr>
                    </tbody>
                </table>
            </perfect-scrollbar>
            <div class="footerNavigation">
                <a class="prev" ng-click="goToPreviousWeek()"><i class="icon ion-arrow-left-b"></i> </a>
                <a class="next" ng-click="goToNextWeek()"> <i class="icon ion-arrow-right-b"></i> </a>
            </div>
        </div>
</div>
