<span ng-controller="TasksController">
<div class="sidebar">
    <i class="icon ion-navicon" ng-class="{ 'active': 0 == selectedIndex }" 
                            ng-click='applyFilter({}, 0)' title="all"></i>
    <i class="icon ion-compose" ng-class="{ 'active': 1 == selectedIndex }" 
                            ng-click='applyFilter({done: false}, 1)' title="to do"></i>
    <i class="icon ion-checkmark" ng-class="{ 'active': 2 == selectedIndex }" 
                            ng-click='applyFilter({done: true}, 2)' title="done"></i>
    <i class="icon ion-alert" ng-class="{ 'active': 3 == selectedIndex }" 
                            ng-click='applyFilter({priority: 1}, 3)' title="important"></i>
    <i class="icon ion-trash-b" ng-class="{ 'active': 4 == selectedIndex }" 
                            ng-click='applyFilter({status: "removed"}, 4)' title="removed"></i>
</div>
<div  class="tasklist">
    <div class="creator">
        <form id="todo-form" ng-submit="add()">
            <input type="text" placeholder="What needs to be done?" ng-model="newTaskTitle" autofocus>
            <i class="add-icon ion-plus" ng-click="add()"></i>
        </form>
    </div>
    
    <div class="tasks kupa">
        <perfect-scrollbar class="scroller" wheel-propagation="true" wheel-speed="10" refresh-on-change="tasks">
            <div class="task done-{{task.done}}" ng-repeat="task in tasks | filter:filters:query | orderBy: tasksOrder" 
                title="{{task.description}}">
                <div class="taskHeader">
                    <input type="checkbox" ng-model="task.done">
                    <p>{{task.title}}</p>
                    <div class="actions" style="display: none" showonhoverparent>
                        <a ng-click="toggleEdit(task)"><i class="icon ion-ios7-compose"></i> </a>
                        <a ng-click="remove(task)"><i class="icon ion-ios7-trash"></i> </a>
                    </div>      
                </div>         
                <div class="taskDetails" ng-show="task.editMode">
                    title:
                    <input type="text" ng-model="task.title">
                    details:
                    <textarea  ng-model="task.description"></textarea>
                    due date:
                    <input type="text"  ng-model="task.date">
                    priority:
                    <select name="" id=""  ng-model="task.priority">
                        <option value="2">High</option>
                        <option value="1">Normal</option>
                        <option value="0">Low</option>
                    </select>
                    <button>Save</button>
                </div>
            </div>
            
        </perfect-scrollbar>
    </div>
    
    <div class="sorter">
    Sort by:
    <select ng-model="tasksOrder">
      <option value="title">title</option>
      <option value="description">description</option>
      <option value="done">status</option>
    </select>
    </div>
</div>
</span>