.calendarWrapper{
    display: block;    
    width: 100%;
    height: 100%;
    position: relative;
    box-sizing:border-box;
    padding-left: 408px;
}

.calendarContent{
    position: relative;
    padding-left: 408px;
    height: 100%;
}

.calendar{
    border-left: solid 2px #5154ac;
    position: relative;
    box-sizing:border-box;
    padding-top: 42px;
    padding-bottom: 35px;
    height: 100%;
    width: 100%;
}

.calendar .scroller{
    height: 100%;
    width: 100%;
    overflow-y: hidden;
    position: relative;
}
    .calendar table{
        width: 100%;
        border-collapse: collapse;
    }

    .calendar table thead td{
        vertical-align:middle;
        text-align: center;
        border-bottom: 0;
        border-top: 0;
    }
    
    .calendar table td{
        width: 13.5%;
        height: 50px;    
        border: solid 1px lightgray;
        vertical-align: top;
        padding: 3px;
    }

    .calendar table td.hour{
        width: 30px;    
        border-left: 0;
        text-align: right;
        padding-right: 6px;
    }

    .calendar .days{
        width: 100%;
        position: absolute;
        top: 0;
        height: 42px;    
        color: white;
        background: #5154ac;
    }

    .calendar .footerNavigation{
        width: 100%;
        position: absolute;
        bottom: 0;
        height: 34px;    
        color: white;
        background: #5154ac;
        padding-top: 4px;
        box-sizing:border-box;
    }
        .calendar .footerNavigation .prev{
            float: left;
        }

        .calendar .footerNavigation .next{
            float: right;
        }